In [1]:
from fyers_apiv3.FyersWebsocket import data_ws
from datetime import datetime
import datetime as dt
from icecream import ic

import sqlite3 as sql
import utils

import pandas as pd

# Login Process

In [2]:
access_token, fyers = utils.login(get_token=True)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=KKSQ1PYF0H-100&redirect_uri=https%3A%2F%2Fsabyabhoi.xyz%2F&response_type=code&state=sample

In [3]:
print(access_token)

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDYzNzA1NTIsImV4cCI6MTcwNjQwMTgxMiwibmJmIjoxNzA2MzcwNTUyLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbHRTWDRYU3gxeHF1TktiRExxTW5XamlFVzBBTXdOazJ4LVRQNTU4WkRid25veTdvSWVjaGloWFdCZXk5c0d4VkFrWlFsM3RSbWU3R0RLM092dFJvVVpqTG5NdTVueWhKZVJ4NUJvd3ptTURtcENGUT0iLCJkaXNwbGF5X25hbWUiOiJTQUJZQVNBQ0hJIEJIT0kiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIzMmY0ZGI2MGFlYmFmNjJiZTQxOWVkNDA1MDM4NzViYWMwN2JiODM4MTVlZjU2YzMxZTkzOTIxNSIsImZ5X2lkIjoiRFMwNTk2MiIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.cg6Kw4maZaFgI5H37teD0LjkOOjhPKAlicGEssxrTYs

# Data API

## Historical data

In [4]:
end = dt.date.today()
start = end - dt.timedelta(weeks=52 * 5)
ticker = "SBIN"
df = utils.get_historical_data(fyers, ticker, "5", start, end)
df

                       Open    High     Low   Close   Volume
ts
2019-02-04 03:45:00  282.40  282.45  279.55  280.85   991844
2019-02-04 03:50:00  280.85  284.30  280.10  282.80   798747
2019-02-04 03:55:00  282.85  283.00  281.30  281.95   372364
2019-02-04 04:00:00  281.95  282.00  281.20  281.50   324310
2019-02-04 04:05:00  281.35  281.80  280.00  280.00   474058
...                     ...     ...     ...     ...      ...
2024-01-25 09:35:00  610.40  612.70  610.40  612.65  1463474
2024-01-25 09:40:00  612.70  613.30  611.95  612.85  1205205
2024-01-25 09:45:00  612.90  613.50  612.55  613.00  1436920
2024-01-25 09:50:00  613.00  614.70  612.45  614.30  1355677
2024-01-25 09:55:00  614.30  617.00  613.20  615.00  1160681

[92196 rows x 5 columns]

In [6]:
df.to_parquet(f"../res/data/{ticker}.parquet")